# save space
*.mp4
node_modules
#twitter_data
archival
refactored

# for privacy
git_ignores_me*

#snscrape
data_big
data_big*

logfile*txt
nohup.out
debug*.txt

# aws keys
*.pem
*.ppk
*.cer

## Google Drive
client_secrets.json

.env
.env*
.env.local

running_processes.txt
