.screen {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;
}

/* .container {
  background-color: red;
  width: 400px;
  height: 400px;
  margin-left: 530px;
} */

.OpenseaLogo {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.TwitterLogo {
  width: 90px;
  height: 90px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.MintButton {
  margin-left: 30px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.PlusButton {
  margin-top: 10px;
  width: 70px;
  height: 70px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.MinusButton {
  margin-top:17px;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.ToMintDisplay {
  margin-top: -10px;
  margin-right: 20px;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.MintedDisplay {
  margin-top: -40px;  
  margin-left: 25px;
  width: 200px;
  height: 200px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}

.MintedIndicator {
  margin-top: -40px;
  margin-right: 10px;
  width: 180px;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}