.music-container {
    position: relative;
    font-family: 'Cinzel', serif !important;
}

.music-navigation > button:hover {
    /*border-radius: 4px;*/
    /*background-color: rgba(0, 0, 0, 0.5);*/
    /*transition: all 300ms ease-in;*/
}

.music-navigation:last-child {
    /*margin-right: 6px;*/
}

@media (max-width: 576px) {
    .music-container {
        right: 0 !important;
    }

    .music-navigation {
        /*margin: 0 auto !important;*/
    }
}

.music-container.play {
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.music-navigation {
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*z-index: 1;*/
    /*height: 43px;*/
}

.music-navigation > button > i {
    color: rgba(255, 255, 255, 0.75);
}

.action-btn {
    background-color: rgba(255, 255, 255, 0);
    border: 0;
    color: white;
    /*color: #dfdbdf;*/
    font-size: 18px;
    cursor: pointer;
    padding: 10px;
    /*margin: 0 20px;*/
}

.action-btn:focus {
    outline: 0;
}