.screen {
  width: 100vw;
  height: 100vh;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  background-color: black;
}

/* .container {
  background-color: red;
  width: 400px;
  height: 400px;
  margin-left: 530px;
} */

.MintButton {
  margin-left: 60vh;
  width: 100px;
  height: 100px;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-repeat: no-repeat; */
}